*.pyc
docs/build
dist
MANIFEST
.coverage
.cache/
extras/appengine/sql_lexer
extras/appengine/lib/
extras/py3k/sql_lexer
extras/py3k/tests
extras/py3k/sql_lexer.diff
extras/py3k/tests.diff
.idea/.name
.idea/encodings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/libraries/sass_stdlib.xml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/scopes/scope_settings.xml
.idea/sql_lexer.iml
.idea/testrunner.xml
.idea/vcs.xml
.idea/workspace.xml
.DS_Store